<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <appender name="logzio" class="io.logz.logback.LogzioLogbackAppender">
        <token>AHpHHinuNfKYEBupJKNsxMzkznWwBehD</token>
        <type>logback</type>
    </appender>

    <logzioUrl>https://listener.logz.io:8071</logzioUrl>
    <type>java</type>


    <root level="debug">
        <!-- IMPORTANT: This line is required -->
        <appender-ref ref="LogzioLogbackAppender"/>
    </root>
</configuration>
